@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);

body {
    background: rgb(42, 9, 9);
}

.page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(87, 20, 20) 20%, rgb(42, 9, 9) 95%)
}

.menu {
    background: rgb(87, 20, 20);
    height: 60px;
    border-bottom: 2pt solid black;
    position: relative 
}

.main-button {
    margin-left: 10px;
    border: 0px solid;
    border-radius: 10px;
    height: 45px;
    width: 90px;
    position: absolute;      
    top: 50%;                         
    transform: translate(0, -50%);
    background: rgb(87, 20, 20);
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 10pt;
    transition-duration: 1s;
}
.main-button:hover {
    background: #EF3B3A ;
}

.donate-button {
    border: 0px solid;
    border-radius: 10px;
    height: 45px;
    width: 90px;
    position: absolute;     
    left: 110px;      
    top: 50%;                         
    transform: translate(0, -50%);
    background: rgb(87, 20, 20);
    color: white;
    font-family: 'Fira Code', monospace;
    font-size: 10pt;
    transition-duration: 1s;
}

.donate-button:hover {
    background: #EF3B3A ;
}

.body-user {
    text-align: center;
    width: 1050px;
    left: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.menu-button {
    border: 0px solid blue;
    height: 250px;
    width: 500px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    color: white;
    font-family: 'Fira Code', monospace;
    background: rgb(138, 31, 31);
    box-shadow: 3px 3px 10px rgba(0,0,0,0.7);
    transition-duration: 1s;
}

.menu-button h2 {
    font-size: 20pt;
}

.menu-button .line {
    height: 2px;
    width: auto;
    background: linear-gradient(to right, rgb(138, 31, 31) 0%, #EF3B3A 100%);
}

.menu-button p {
    margin-top: 5%;
    font-size: 10pt;
}

.menu-button button-footer {
    height: 5px;
    width: auto;
    background: #EF3B3A ;
}

.menu-button:hover {
    background: #EF3B3A ;
    box-shadow: 12px 12px 10px rgba(0,0,0,0.7);
}
.menu-button:active {
    background: #EF3B3A ;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.7);
}

#menu-button-3 {
    margin-top: 1%;
}