@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
  background: rgb(42, 9, 9);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.donationFooter {
  background: rgb(87, 20, 20);
  margin-left: -10px;
  margin-top: -10px;
  margin-right: -5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  padding: 30px;
}

.donationButtonsDiv {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

ul.donationButtons {
  margin: 0;
  padding: 4px;
}

ul.donationButtons li {
  display: inline;
  margin-right: 5px;
  padding: 3px;
}

.donationButton {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: rgb(87, 20, 20);
  width: 100px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition-duration: 0.5s;
  border-radius: 5px;
}

.toHome {
  font-family: "Roboto", sans-serif;
  background: rgb(87, 20, 20);
  text-transform: uppercase;
  /* outline: 0; */
  width: auto;
  border: 1px solid rgb(42, 9, 9);
  border-width: 2px;
  padding: 15px;
  color: #FFFFFF;
  font-size: 12px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  transition-duration: 0.5s;
  border-radius: 5px;
}
.toHome:hover,
.toHome:active,
.toHome:focus {
  background: rgb(42, 9, 9);
}

.donationData {
  font-family: "Roboto", sans-serif;
  background: rgb(87, 20, 20);
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin-top: 8px;
  text-align: center;
  font-size: 11pt;
  margin-left: 3px;
  width: 435px;
}

.errorBody {
  background: linear-gradient(to right, rgb(42, 9, 9) 5%, rgb(87, 20, 20) 20%, rgb(87, 20, 20) 80%, rgb(42, 9, 9) 95%);
  color: #DCD9CD;
  margin-left: -50px;
  margin-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 15px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

#errorCode {
  background: rgb(42, 9, 9);
  font-family: 'Roboto', sans-serif;
  font-size: 11pt;
  color: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}